/* RESETTING DEFAULT CSS */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    /* background: #42455a; */
    background: linear-gradient(to right, #db1bf6, #19d7f8);
}
.menu.anim{
    animation-delay: 0.1s;
}
.menu ul{
    display: inline-flex;
    margin: 15px 0 0 50px;
    justify-content: center;
    align-items: center;
    
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #fff1fe;
    line-height: 1.5;
    cursor: pointer;
}
.logo{
    font-size: 52px;
    margin-top: -7px;
    margin-right: 48px;
    font-family: cursive;
}
.active{
    color: #0f03ff !important;
}
.signup-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    background-image: linear-gradient(#455cff, #f94ce7), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.signup-btn span{
    display: block;
    padding: 8px 22px;
}
/* HERO BANNER SECTION */
.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: #fff;
}
.app-text{
    width: 50%;
    float: left;

}
.app-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
    animation-delay: 0.3s;
}
.app-text p{
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #fff;
    animation-delay: 0.8s;
}
.app-picture{
    width: 50%;
    float: right;
    text-align: center;
    
}
.app-picture.anim{
    animation-delay: 1s;
}
.app-picture img{
    width: 70%;
    margin-top: -20px;
    padding-left: 50px;
}
.play-btn{
    margin-left: 40px;
    display: inline-flex;
    
}
.play-btn.anim{
    animation-delay: 1s;
}
.play-btn-inner{
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 20px;
    background-image: linear-gradient(#455cff, #f94ce7), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
}
.play-btn-inner .fa{
    padding: 18px 0;
    font-size: 13px;
    cursor: pointer;
}
small{
    margin: auto 20px;
    cursor: pointer;
    font-size: 12px;
    color: #fff1fe;
}

/* SOCIAL LINK  */
.quick-links{
    left: 0;
    bottom: 0;
    border-top-right-radius: .7rem;
    border-bottom-right-radius: .7rem;
    position: absolute;
    background: linear-gradient(to right, #db1bf6, #19d7f8);
    box-shadow: 0px 1px 15px 2px #ffffff;
    
}
.quick-links.anim{
    animation-delay: 1.5s;
}
.quick-links ul{
    display: inline-flex;
    margin: 30px auto;
    text-align: center;
}
.quick-links ul li{
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}
.quick-links ul li .fa{
    font-size: 25px;
    color: #fff;

}
.quick-links ul li p{
    margin-top: 15px;
    font-size: 10px;
    color: #fff;

}
.social-icons{
    right: 72px;
    bottom: 35px;
    position: absolute;
   
}
.social-icons.anim{
    animation-delay: 1.5s;
}
.social-icons ul li{
    list-style: none;
    margin-top: 15px;
    text-align: center;
}
.social-icons ul li a{
    color: #ffffff;
    border-radius: 50%;
    
    border: 1px solid #ffffff;
    padding: 5px;
    display: block;
}
.social-icons ul li a i{
    font-weight: 500;
}

/* ANIMATION EFFECT */
.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}